* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #4e4e4e;
  background-color: #f5f6f7;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}

.login {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid;
  width: 200px;
}

.signup {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid;
  width: 200px;
}

.community {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid;
  width: 90vw;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#topmenu {
  height: 100px;
  width: 100vw;
  display: block;
  margin: 0 auto;
}

#topmenu ul li {
  list-style: none;
  background-color: #d4d4d4;
  float: left;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}

#topmenu .menulink {
  text-decoration: none;
  color: black;
  display: block;
  width: 45vw;
  font-size: 12px;
  font-weight: bold;
}

.date {
  text-align: right;
}

.court-list {
  width: 80vw;
  border-spacing: 10px;
}

.graybox {
  float: right;
  text-align: center;
  margin-left: 10px;
  pointer-events: none;
}

.yellowbox {
  float: right;
  background-color: yellow;
  text-align: center;
  margin-left: 10px;
  pointer-events: none;
}


